#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


# Add here any variable or target overrides you need.

NJOBS += -j$(shell if [ -f /proc/cpuinfo ]; \
                    then echo `cat /proc/cpuinfo | grep 'processor' | wc -l`; \
                    else echo 1; fi)

DEB_MAKE_ENVVARS := MAKEFLAGS="-j 3 "

DEB_DBG_PACKAGE_exaro := exaro-dbg
DEB_DBG_PACKAGE_libexaro := exaro-dbg
DEB_DBG_PACKAGE_exaro-plugins := exaro-dbg

